

.wpcf7 form.wpcf7-form p {
    margin-bottom: 0;
}

.qode-instagram-feed li {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

 nav.main_menu>ul>li.active>a>span:not(.plus) {
position: relative;
display: inline-block;
vertical-align: middle;
padding: 7px 16px 9px;
border-radius: 2px;
background-color: #f0304a;
}

header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a{
    opacity: 1;
}

header .header_inner_left {
    left: 32px;
}

.portfolio_main_holder article .item_holder.thin_plus_only:hover .text_holder {
    display: none;
}

.projects_holder article .portfolio_description {
    padding: 27px 0 14px;
}


.projects_holder.standard article .project_category {
    margin: 0 0 0;
}

.projects_holder article .portfolio_description .portfolio_title {
    margin: 0 0 5px;
}

.portfolio_detail.portfolio_single_follow h6 {
    margin-bottom: 10px;
}

.portfolio_detail .info {
    padding: 0px 0 19px;
}

.portfolio_navigation .portfolio_next a, .portfolio_navigation .portfolio_prev a {
    border-radius: 0;
}

.portfolio_navigation .portfolio_next a:hover, .portfolio_navigation .portfolio_prev a:hover {
    color: #ffffff;
    background-color: #f0304a;
    border-color: #f0304a;
}

@media only screen and (max-width: 768px) {
.blog_holder.blog_large_image h2 a {
    font-size: 54px;
    line-height: 56px;
}
}

@media only screen and (max-width: 600px) {
.title.title_size_medium h1, .blog_holder.blog_large_image h2 a {
    font-size: 28px;
    line-height: 38px;
}
}

.qode-twitter-feed-shortcode .qode-tfs-inner .qode-tfs-info {
    font-size: 13px;
}